@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1720px)
  .slick-prev
    left: 15px

  .slick-next
    right: 15px


/* Medium Devices, Desktops */
@media only screen and (max-width: 1450px)
  .menu li, .menu-main li
    margin: 0 40px 0 0

  .header-links
    margin: 0 0 0 40px

@media only screen and (max-width: 1300px)
  header .phone
    margin: 0 0 0 30px

  .header-links
    margin: 0 0 0 20px

  .menu li, .menu-main li
    margin: 0 30px 0 0

@media only screen and (max-width: 1200px)
  .main-slider-box
    padding: 120px 0

  header
    .logo
      max-width: 180px
      width: 100%
      flex-direction: column
      align-items: flex-start

    .logo-icon
      margin: 0 0 5px
      padding: 0
      border: none

  .menu-main:before
    margin: 0 20px

  .menu li, .menu-main li
    margin: 0 15px 0 0

@media only screen and (max-width: 992px)
  .header-bottom
    display: none

  .main-slider__content
    margin: 0 0 0 60px

  .phone
    font-size: 20px


/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
  /**/


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
  /**/
